.idea
.vs
bin
obj
Genshin Impact ReShade Installer/Data.cs
Genshin Impact ReShade Installer/Dependencies/Genshin Stella Mod Setup.exe
Genshin Impact ReShade Installer/Dependencies/Genshin Impact Mod Setup.exe
InnoSetup/Output